#s1{
    height: 1400px
}

#center-col {
    height: 1250px;
}

#team-container {
    display: grid;
    gap: 10px;
    padding: 10px;
    height: 1000px;
    width: 800px;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.profile {
    width: 300px;
    height: 300px;
}

#member1-img {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    border: 2px solid black;
}

#member1-text {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    border: 2px solid black;
    text-align: left;
}

#member2-img {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    border: 2px solid black;
}

#member2-text {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    border: 2px solid black;
    text-align: left;
}

#member3-img {
    grid-column: 1 / 2;
    grid-row: 3 / 4;

    border: 2px solid black;
}

#member3-text {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    border: 2px solid black;
    text-align: left;
}