:root {
    --primaryColor: #FFEBCD;
    --secondaryColor: #DEB887;
    --tertiaryColor: #F0FFFF;

    --fontColor: black;
    --font: 'Damion'; 
}

body { 
    padding: 0px;
    margin: 0px;
    color: var(--fontColor); 
    background-color: var(--secondaryColor)
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}


#s1 {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 75px 1fr 75px;
}

#header {
    grid-column: 1 / 4;
    grid-row: 1 / 2; 
    border: 2px solid black; 
    background-color: var(--primaryColor);
    margin-bottom: 10px;
}

.active { 
    background-color: var(--secondaryColor); 
}

#nav ul li a:hover {
    background-color:  var(--secondaryColor);
    transition: 0.3s;
}

#header-title {
    margin-top: 25px;
    font-family: var(--font), 'sans-serif';
    font-size: 30px;
    color: #DAA520;
}

#nav ul{
    list-style-type: none;
    margin-bottom: -85px;
}

#nav ul li {
    display: inline; 
    float: right; 
}

#nav ul li a {
    text-decoration: none;
    color: black; 
    display: block;
    padding: 10px;
}

#left-col {
    text-align: center;
    border: 2px solid black;
    margin-right: 10px;
    background-color: var(--tertiaryColor);

    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#center-col {
    color: black;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 1000px;

    text-align: center; 
    border: 2px solid black; 
    background-color: var(--tertiaryColor);
}

#logo {
    width: 300px;
    height: 300px;
    float: center;
}

#right-col {
    text-align: center;
    margin-left: 10px;
    border: 2px solid black; 
    background-color: var(--tertiaryColor);

    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

footer { 
    background-color: var(--primaryColor);

    text-align: center;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    margin-top: 10px;
    border: 2px solid black;
}