#center-col {
    height: 1150px;
}

#product-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 900px;

    padding: 10px;

    gap: 10px;
    height: 800px;
}

#product-img {
grid-column: 1 / 2;
grid-row: 1 / 3;
}

#cake {
    width: 100%;
    height: 100%;
}

#product-info {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    
    background-color: #DEB887;
    border: 2px solid black;
}

